<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Ontov Visualization</a>
		</div>
		<!-- <div id="navbar" >
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
			</ul>
		</div> -->
	</div>
</nav>
