<div class="container-fluid" >
    <svg>
    <g class="container-element">
        <line ng-repeat="link in links"
            class="link"
            stroke="#ccc"
            stroke-width="2"
            ng-attr-x1="{{link.source.y}}"
            ng-attr-y1="{{link.source.x}}"
            ng-attr-x2="{{link.target.y}}"
            ng-attr-y2="{{link.target.x}}">
        </line>
        <g ng-repeat="node in nodes" ng-switch on="node.type" >
                <circle ng-switch-when='type_knowledge' class="node"
                    ng-attr-r="{{node.size * 20 || 20}}"
                    stroke="#FF6666"
                    fill="#FF6666"
                    ng-attr-cx="{{node.y}}"
                    ng-attr-cy="{{node.x}}"
                    >
                </circle>
                <circle ng-switch-when='type_ibis_question' class="node"
                    ng-attr-r="{{node.size * 20 || 20}}"
                    stroke="#6666FF"
                    fill="#6666FF"
                    ng-attr-cx="{{node.y}}"
                    ng-attr-cy="{{node.x}}"
                    >
                </circle>
                <circle ng-switch-when="type_ibis_argument" class="node"
                    ng-attr-r="{{node.size * 20 || 20}}"
                    stroke="#AAAAAA"
                    fill="#AAAAAA"
                    ng-attr-cx="{{node.y}}"
                    ng-attr-cy="{{node.x}}"
                    >
                </circle>
                <circle ng-switch-when="type_ibis_idea" class="node"
                    ng-attr-r="{{node.size * 20 || 20}}"
                    stroke="#FFFF99"
                    fill="#FFFF99"
                    ng-attr-cx="{{node.y}}"
                    ng-attr-cy="{{node.x}}"
                    >
                </circle>
                 <circle ng-switch-default class="node"
                    ng-attr-r="{{node.size * 20 || 20}}"
                    stroke="#E6E6E6"
                    fill="white"
                    ng-attr-cx="{{node.y}}"
                    ng-attr-cy="{{node.x}}"
                    >
                </circle>
        <text ng-attr-x="{{node.y+5}}" font-weight="bold" ng-attr-y="{{node.x+5}}">{{node.name |limitTo:20:0}}..</text>
        <text ng-attr-x="{{node.y+5}}" fill="gray" ng-attr-y="{{node.x+20}}">Author ID: {{node.iAmId|limitTo:-5}}</text>

    </g>
<!--     <g ng-repeat="node in nodes">
        <circle class="node"
            ng-attr-r="{{node.size * 10 || 10}}"
            stroke="red"
            fill="white"
            ng-attr-cx="{{node.y}}"
            ng-attr-cy="{{node.x}}"
            >
        </circle>
    <text ng-attr-x="{{node.y}}" ng-attr-y="{{node.x}}">{{node.name}}</text>
</g> -->
<!-- <g ng-repeat="node in queryNodes">
        <circle class="query"
                stroke="blue"
                fill="white"
                ng-attr-r="{{node.size * 100 || 20}}"
                ng-attr-cx="{{node.x}}"
                ng-attr-cy="{{node.y}}"
                >
        </circle>
        <rect class="query"
        stroke="blue"
        fill="white"
        ng-attr-width="{{120}}"
        ng-attr-height="{{30}}"
        ng-attr-x="{{node.x - 60}}"
        ng-attr-y="{{node.y - 15}}">
        </rect>
    <text ng-attr-x="{{node.x}}" ng-attr-y="{{node.y}}">{{node.label}}</text>
</g> -->
</g>
</svg>
</div>
